<h1>Welcome to Pasta Bin!</h1>
<p>The premise is simple, you leave text (noddles) for others to look at.</p>
<p>Don't forget the old adage. Need a snippet, take a snippet, have a snippet, leave a snippet!</p>


<h4>Please Login In or Sign Up</h4>
<%# Creates user if none or logs in user if existing %>
<%= render 'login' %>