<h1><%=@user.username%><h1>

    

<%@user.written_posts.uniq.each do |post|%>
  <p><%=link_to post.post_title, post_path(post.id)%></p>
<%end %>

<%= button_to "Create a Noodle", new_post_path , method: :get%>