<div class = "text_formatting" >
<%time = Time.new%>
<h1>Top Noodles for <%=time.strftime("%m/%d/%Y")%></h1>


<% @posts.each do |post|%>
<p> <%=link_to post.post_title, post_path(post.id)%></p>
<%end%>
</div>
<hr>
<div class = "text_formatting" >
<%= button_to "Create Post",  new_post_path, method: :get %>
</div>











